Oil/geo_data_0.csv
Telephone_communications/users.csv
Telephone_communications/tariffs.csv
Telephone_communications/messages.csv
Telephone_communications/internet.csv
Telephone_communications/calls.csv
Room_reservation/hotel_train.csv
Room_reservation/hotel_test.csv
Oil/geo_data_2.csv
Oil/geo_data_1.csv
New_tariffs/users_behavior.csv
Family_and_loans/data.csv
Big_cities_music/data.csv
Apartments_for_rent/real_estate_data.csv
Test/test.ipynb
Heart_diseases_prediction/predict.csv
Heart_diseases_prediction/predict_MLP.csv
Heart_diseases_prediction/predict_forest.csv
Heart_diseases_prediction/predict_cat.csv
Heart_diseases_prediction/predict_1000.csv
Heart_diseases_prediction/predict_500.csv
Heart_diseases_prediction/predict_cat_1.csv
Heart_diseases_prediction/predict_cat_BMI.csv
Spark/housing.csv
Heart_diseases_prediction/catboost_info
Car_market/autos.csv
Car_market/catboost_info
Car_market/catboost_info/learn/events.out.tfevents
Star_temperature/Star_temperature.csv
Safe_driving/catboost_info
Taxi_predict/taxi.csv
NLP/catboost_info
NLP/predictions.csv
NLP/toxic_comments_lemm.csv
NLP/toxic_comments.csv
NLP/tweets_lemm_test.csv
NLP/tweets_lemm_train.csv
NLP/tweets_lemm_train_ans
English_movies/Subtitles_txt/
English_movies/test/
English_movies/sub_lemm/
English_movies/Dic_txt/
English_movies/catboost_info/
English_movies/subtitles/
English_movies/test.srt
English_movies/Subtitles_all