Oil/geo_data_0.csv
Telephone_communications/users.csv
Telephone_communications/tariffs.csv
Telephone_communications/messages.csv
Telephone_communications/internet.csv
Telephone_communications/calls.csv
Room_reservation/hotel_train.csv
Room_reservation/hotel_test.csv
Oil/geo_data_2.csv
Oil/geo_data_1.csv
New_tariffs/users_behavior.csv
Family_and_loans/data.csv
Big_cities_music/data.csv
Apartments_for_rent/real_estate_data.csv
Test/test.ipynb
Heart_diseases_prediction/predict.csv
Heart_diseases_prediction/predict_MLP.csv
Heart_diseases_prediction/predict_forest.csv
Heart_diseases_prediction/predict_cat.csv
Heart_diseases_prediction/predict_1000.csv
Heart_diseases_prediction/predict_500.csv
Heart_diseases_prediction/predict_cat_1.csv
Heart_diseases_prediction/predict_cat_BMI.csv
Spark/housing.csv
Heart_diseases_prediction/catboost_info
Car_market/auto.csv